TZ=Asia/Seoul
NODE_RED_PORT=1890
X_DAS_OPCUA_PORT=54880
NODE_RED_CREDENTIAL_SECRET=change-this-secret

PLC_LINE1_ENDPOINT=opc.tcp://nodered-line01:4860/line-das/LINE-01
PLC_LINE2_ENDPOINT=opc.tcp://nodered-line02:4960/line-das/LINE-02
PLC_LINE3_ENDPOINT=opc.tcp://nodered-line03:5060/line-das/LINE-03
SENSOR_DAS_ENDPOINT=opc.tcp://das-node-red:53880/UA/DAS/

BACKEND_OPCUA_WRITE_ENABLED=false
BACKEND_OPCUA_ENDPOINT=opc.tcp://backend-opcua:4840/
OPCUA_SUB_INTERVAL_MS=1000
OPCUA_SUB_ATTEMPTS=20
